<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{  title }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <style>
            .preview {
                width:100%;
            }
        </style>
    {% endblock %}
</head>